<a href="https://colab.research.google.com/github/sinan8400/python-program-for-adding-two-numbers/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: to find a prime number within 20

# Define a function to check if a number is prime
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

# Find prime numbers within 20
for i in range(1, 21):
  if is_prime(i):
    print(i)

2
3
5
7
11
13
17
19

In [ ]:
print("odd number")
for i in range(1,100,2):
    print(i)
print("even number")
for i in range(2,100,2):
    print(i)

odd number
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
even number
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
a=int(input())
for i in range(1,a+1):
   print(i+1)

7
2
3
4
5
6
7
8

In [ ]:
name=input("enter your name")
print("welcome",name)
name=input("emter a name")
print("welcome",name)
print("both are same")

enter your namesaafe
welcome saafe
emter a namesefe
welcome sefe
both are same

In [ ]:
name=input("enter your name:")
name2=input("enter second name:")
if name==name2:
  print("both are same",name)

enter your name:saafe
enter second name:saafe
both are same saafe

In [ ]:
def check_equal(str1,str2):
  if str==str2:
    print("the name are same")
    else:
      print("the name are diff")
      name=input("enter your name")
      name2=input("enter a name")

SyntaxError: invalid syntax (<ipython-input-44-76e775f7cbc4>, line 4)

In [ ]:
#assign a list to an variable named my_list
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

In [ ]:
#append
list1.append('apped')

In [1]:
a=5
b=4
print(a+b)

9

In [3]:
a=int(input())
b=int(input())
print(a+b)

54
6
60

In [7]:
a=int(input())
b=int(input())
if a > b:
    print("first number is greater than second")
elif a < b:
    print("first number is less than second")
else:
    print("first and second is equal")

34
65
first number is less than second

In [8]:
number =int(input())

print("multiplication table for", number,":")
for i in range(1,11):
  result = number * i
  print(f"{number} x{i} = {result}")

5
multiplication table for 5 :
5 x1 = 5
5 x2 = 10
5 x3 = 15
5 x4 = 20
5 x5 = 25
5 x6 = 30
5 x7 = 35
5 x8 = 40
5 x9 = 45
5 x10 = 50